* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    background-image: url('fondo.jpg');
  }

  .form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7x 13px 37px #000;
  }
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    margin-top: 8px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 10px;
    color: #1f53c5;
  }
  
.form-register a {
    color: white;
    text-decoration: done;
  }

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

  .form-register .botons {
    
    background: #5352ed;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  




